<!DOCTYPE html>
<head>
        <link rel="stylesheet" href="style.css">
</head>
    <body>
        <table id="tb01">
            <tr>
                <th>task name</th>
                <th>due date</th>
                <th>task description</th>
                
            </tr>
            <% for(let i=0; i<tasks.length; i++) {%>
                <tr>
                    <td> <%= tasks[i].taskname %> </td>
                    <td> <%= tasks[i].duedate %></td>
                    <td> <%= tasks[i].discription %></td>

                </tr>
            <%}%>
        </table>
        <h1>click<a href="/">here</a> to return</h1>
    </body>
</html>